# it's neeaded only for package/db packages/api commands using from root
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app-db
# OpenApi input src (required) for generating client
OPENAPI_INPUT_SRC=""
