# local setup (using docker services)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app-db
REDIS_URL=redis://localhost:6379
CORS_ORIGINS=http://localhost:3000

# settings (optional)
PORT=4000
CACHE_TTL=10000

# secrets
JWT_SECRET=ohmyzsh5225
TELEGRAM_BOT_TOKEN=8914796580:AAG8DK15tlbp1Y4XYdbl_DBZ9W8FchUeXbY
