# required
DATABASE_URL=""

# required (default = "redis://localhost:6379")
REDIS_URL=redis://localhost:6379

# required (default = "secret")
JWT_SECRET

# required
TELEGRAM_BOT_TOKEN

# optional (default = 4000)
PORT=4001

# optional (default = 60000)
CACHE_TTL=10000

